#title{
    font-size: 30px;
    margin: 20px;

}
#note{
    font-size: 16px;
    margin: 20px;

}
body{
    background-size: cover;
    text-align: center;

}
#user_object_name{
    margin: 20px;
    color: grey;
    text-align: center;

}
canvas{
    background-color: white;
    border-color: orange;
    box-shadow: 5px 5px 5px greenyellow;
    margin: 30px;

    

}